* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: beige;
}
img {
  height: 300px;
  padding: 20px;
  background-color: tan;
  box-shadow: 3px 3px grey;
}
